{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.vigos.cl" xml:lang="en" lang="en" dir="ltr">
<head>
<meta charset="utf-8">

<title>{% trans "Test de Conducir On-Line VIGO'S" %} | {% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}">

<!-- styles -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>

<body>


<!-- Before the quiz content -->

<div class="container">

{% block content %}

<h1>Examen de Conducir VIGO'S</h1>

{% load staticfiles %}
<img src="{% static "vigos.jpg" %}" alt="VIGO'S" align="right" />

{% endblock %}

</div>

<!-- After the quiz content -->


</body>
</html>
