{% extends "base.html" %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

{% if previous.answers %}

  <p class="muted"><small>{% trans "La pregunta anterior" %}:</small></p>
  <p>{{ previous.previous_question }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		{% trans "Tu respuesta fue" %} </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
	  </p>

	</div>

	{% include 'correct_answer.html' %}

	<p><strong>{% trans "Explicación" %}:</strong></p>
	<div class="well " style="background-color: #fcf8e3;">
	  <p>{{ previous.previous_question.explanation }}</p>
	</div>

	<hr>

{% endif %}

<br />

{% if question %}

{% if progress %}

<div style="float: right;">
{% trans "Pregunta" %} {{ progress.0|add:1 }} {% trans "de" %} {{ progress.1 }}
</div>
{% endif %}

<p class="lead"><h1>{{ question.content }}</h1></p> 

{% if question.figure %}

{% load staticfiles %}
<img src="{% static question.figure.url %}" alt="{{ question.content }}"/>


{% endif %}

<form action="" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	  <h3>  {{ answer }} </h3>
	  </li>
	{% endfor %}

  </ul>
  <h1><input type="submit" value={% trans "  Continuar  " %} class="btn btn-large btn-block btn-warning" ></h1>
</form>


{% endif %}

<hr>


{% endblock %}
