{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
{% trans "Resultados de " %} {{ sitting.quiz.title }} {% trans "para" %} {{ sitting.user }}
{% endblock %}

{% block content %}
<h2>{% trans "Nombre de Test " %}: {{ sitting.quiz.title }}</h2>
<p>{{ sitting.quiz.description }}</p>
<hr>
<p>{% trans "Alumno/a " %}: {{ sitting.user }}</p>
<p>{% trans "Completado" %}: {{ sitting.end|date }}</p>
<p>{% trans "Puntaje" %}: {{ sitting.get_percent_correct }}%</p>

<table class="table table-bordered table-striped">

  <thead>
	<tr>
	  <th>{% trans "Pregunta" %}</th>
	  <th>{% trans "Respuesta de Alumno/a" %}</th>
	  <th></th>
	  <th></th>
	</tr>
  </thead>

  <tbody>
{% for question in questions %}

	<tr>
      <td>
        {{ question.content }}
        {% if question.figure %}
        <div style="max-width: 100px;"><img src="{{ question.figure.url }}" alt="{{ question.figure }}"/></div>
        {% endif %}
      </td>
	  <td>{{ question|answer_choice_to_string:question.user_answer }}</td>
	  <td>
		{% if question.id in sitting.get_incorrect_questions %}
		  <p>{% trans "Incorrecto" %}</p>
		{% else %}
		  <p>{% trans "Correcto!!" %}</p>
		{% endif %}
	  </td>
	  <td>
		<form action="" method="POST">{% csrf_token %}
		  <input type=hidden name="qid" value="{{ question.id }}">
		  <button type="submit" class="btn btn-warning">{% trans "Toggle whether correct" %}</button>
		</form>
	  </td>
	</tr>

{% endfor %}

  </tbody>

</table>
{% endblock %}
